/* common styles */

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2d25a0;
}
/*---------------------------------
          navigation area style
----------------------------------*/
label {
  margin: 10px 0 52px 16px;
  font-size: 26px;
  line-height: 70px;
  display: none;
}
#toggle {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  margin: 45px 60px;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  margin-right: 36px;
}
nav li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
.log-in-button {
  color: #fff;
  padding: 10px 24px;
  background-color: #e02c6d;
  transition: all 0.5s ease-in-out;
}
.log-in-button:hover {
  border-radius: 20px;
  transform: translate(-10px, 0) scale(1.1);
}
.log-in-button a {
  margin-left: 8px;
  color: #ffffff;
  text-decoration: none;
}

/*---------------------------------
          banner-area styles
----------------------------------*/
.banner-area {
  display: grid;
  grid-template-columns: 485px 556px;
  grid-column-gap: 102px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 86px;
}
.banner-title {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.banner-title h1 {
  color: #fff;
  font-size: 64px;
}
.watch-live-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 168px;
  color: #fff;
  background-color: #e02c6d;
  transition: all 0.5s ease-in-out;
}
.watch-live-button:hover {
  border-radius: 20px;
  transform: translate(15px, 0);
}
.watch-live-button a {
  text-decoration: none;
  color: #fff;
  margin-right: 8px;
}
.watch-live-button:hover i {
  transform: translate(5px, 0);
}

/* --------------------------------

-------------------------------*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-list {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: repeat(4, 474px);
  grid-gap: 27px 30px;
  margin-top: 70px;
  margin-bottom: 100px;
}
.player {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}
.player-photo {
  width: 300px;
  height: 256px;
}
.player-details {
  margin: 16px 0 33px 0;
}
.player-name h2 {
  font-size: 28px;
  line-height: 40px;
  margin: 0;
}
.about-player p {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}



/*  -------------------------
      match schedule styles 
     ------------------------*/
.match-schedule-container {
  background-color: #151c35c9;
  padding: 50px;
  margin-bottom: 60px;
}
.container-title {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-title h1 {
  color: #fff;
  font-size: 52px;
  margin-top: 0;
  margin-bottom: 50px;
}

.container-title a {
  color: rgb(71, 3, 15,0.8);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 8px;
}
.container-title i {
  color: rgb(71, 3, 15,0.8);
  cursor: pointer;
}
.container-title > a:hover + i {

  transform: translate(5px, 0);
}
.matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  color: #fff;
}
.versus {
  font-size: 20px;
  font-weight: bolder;
}

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.match h2 {
  font-size: 32px;
  font-weight: bold;
}
.clubs {
  display: flex;
  align-items: center;
}
.club-name {
  font-size: 20px;
  text-align: center;
  font-family: helvetica;
}
hr {
  width: 200px;
  border: 3px solid gray;
  margin: 0 20px;
}
.venue-name-and-time {
  display: block;
  text-align: center;
}

/*--------------------------------
   player comment section style
  ----- -------------------------*/

.player-comment {
  background-image: url(images/football-player.png);
  background-size: 50%;
  background-repeat: no-repeat;
  height: 600px;
}
.comment {
  margin: 10% 0 0 50%;
}
.comment span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: gray;
}
.comment h1 {
  color: rgb(168, 91, 36);
  font-size: 50px;
  margin-top: 0;
}
.comment p {
  color: #808080;
  font-size: 16px;
  margin-bottom: 30px;
}
.comment a {
  color: #fff;
  padding: 10px 20px;
  background-color: #d02134;
  text-decoration: none;
}
/*----------------------- 
     footer area styels
----------------------- */

footer {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 63px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.social-icons a {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-decoration: none;
  color: #969bab;
  background-color: #969bab7a;
  position: relative;
  margin-left: 14px;
}
.fab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.copyright-text p {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
/*--------------------------------
   medai quaries for mobile devices
  ----- -------------------------*/

@media only screen and (max-width: 668px) {
  /* player list styles  */

  .player-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 47px;
    margin-bottom: 60px;
  }
  .player {
    margin: 12px 15px;
  }

  /* banner-area style  */

  header {
    width: 100%;
  }
  .banner-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .banner-title {
    margin-left: 20px;
  }
  .banner-title h1 {
    font-size: 32px;
  }
  .banner-photo {
    margin: 50px 15px 60px 15px;
  }
  .banner-photo img {
    margin: 0;
    width: 100%;
  }

  nav {
    display: none;
  }

  /* match schedule styles  */

  .match-schedule-container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .container-title h1 {
    margin: 20px;
  }
  .container-title i {
    margin-right: 10px;
  }
  .matches {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: #fff;
  }
  .match {
    margin: 20px;
  }

  /* player comment media quaries */


  .player-comment {
    
    background-repeat: no-repeat;
    height: 350px;
  }

  .comment span {
    font-size: 12px;
  }
  .comment h1 {
    font-size: 24px;
  }
  .comment p {
    font-size: 12px;
  }

 footer img {
   width: 300px;
    height: 63px;
    
  }
}

/*--------------------------------
   media quaries for tablet devices
  ----- -------------------------*/

@media only screen and (min-width: 688px) and (max-width: 992px) {
  nav {
    display: none;
  }
  /* player list styles  */

  .player-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 47px;
    margin-bottom: 60px;
  }
  .player {
    margin-bottom: 24px;
  }
  header {
    width: 100%;
  }
  .banner-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .banner-title {
    margin-left: 20px;
  }
  .banner-title h1 {
    color: #fff;
    font-size: 36px;
    margin-top: 60px;
  }
  .watch-live-button {
    margin: 60px auto;
  }
  .banner-photo {
    margin: 50px 0;
  }
  .banner-photo img {
    margin: 0;
  }

  /* match schedule styels  */

  .match-schedule-container {
    width: 100%;
    padding: 0;
  }
  .container-title h1 {
    margin: 40px;
  }
  .container-title i {
    margin-right: 10px;
  }
  .matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .match {
    margin: 20px;
  }
}
